IPython[All]
Pillow
cython
gnuplot-kernel
google-auth
grpcio-tools
h5py
imgaug
jupyter-c-kernel
jupyterhub
jupyterlab
keras>=2.0.8
markdown
matlab-kernel
matplotlib
metakernel
numpy
opencv-python
opt-einsum
plumbum
portalocker
powershell-kernel
protobuf
pyasn1-modules
scikit-image
scipy
setuptools
sshkernel
# tensorboard < 2.0.0
# tensorflow-serving-api < 2.0.0
wurlitzer
zsh-jupyter-kernel
